.form {
    border: 2px solid black;
    border-radius: 10px;
    max-width: 400px;
    padding:25px 50px;
    margin-bottom: 25px;

    &__button {
        margin-top:25px;
        margin-bottom: 10px;

        button {
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid black;
        }
    }
}