.header {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    background-color: #292C34;
    color:white;
    border-radius: 8px;

    img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 3px solid #FFE7E2;
        margin-right: 25px;
    }

    &__info {
        h2 {
            color: #FFE7E2;
        }
    }
}