.Box {
  padding: 50px;
}

.App {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #FFE7E2;
}

.info {
  display: flex;
  flex-direction: row;
  padding-top: 20px;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 50px;
    border-bottom:5px solid black;
  }

  &__button {
    margin-bottom: 25px;
    padding: 30px 100px;
    font-size: 25px;
    background-color:#292C34;
    border-radius: 10px;
    color: #FFE7E2;
  }
}